
@import url(https://fonts.googleapis.com/css?family=Karla);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}




/* default rules for for mobile Devices */


     
body {
    margin: 0;
    font-family: "Karla";
    background-image: url(code_bg.png);
    background-attachment: fixed;
    z-index: -1;
    
}

a:hover {
    color: darkslateblue;
}



a {
    text-decoration: none;
    color: black;
}

#left {
    width: 15%;
    position:fixed;
    background-color: red;
    top: 0px; 
    bottom: 0px;
    left: 15%;
    color: white;
    font-size: 120%;
    padding: 0em 1em 0em 1em;
    visibility: hidden;
}

#left a {
    color: white;
}

#mobileMenu {
    width: 100%;
    height: 110px;
    background-color: #2987DD;
    visibility: visible;
    color: white;
    left:0;
    right: 0;
    position: absolute;
    clear: both;
    
}

#mobileMenu a {
    color: white;
}



.mobileMenuTable {

    width: 90%;
    vertical-align: middle;
    text-align: right;

}

.mobileMenuHeader {
    text-align: center;
    

}

.headerBigTags {
    font-size: 120%;
    display: inline;
}

#left h1 {
    font-size: 2em;
}

#left hr {
    width: 90%;
}

#main {
   width: 100%;
    position:absolute;
    left: 0;
    right: 0;
    font-size: 90%;
    top: 110px;

}

.post {

    background-color: cadetblue;
    margin: 0.5em 0em 1em 0em;
}


mark {
    font-size: 105%;
    background-color:aliceblue;

    line-height: 1.5;
}
 


.postContent:hover {
    background-color:aliceblue;
}

.post2 {
    width = 80%;
    
    background-color: paleturquoise;
    margin: 0.5em 0em 0em 0em;
    position: relative;

    
}

.postContent {
    width: 100%;
    margin-right: 1.75em;
    padding: 0em 0em 1em 1.5em;
    background-color: white; 
    margin-left: 0.75em; 
    overflow: hidden;
    clear: both;
}

.postContentFull {
        width: 100%;
    margin-right: 1.75em;
    padding: 0em 0em 1em 1.5em;
    background-color: white; 
    margin-left: 0.75em; 
    overflow: hidden;
    clear: both;
}

.postContent img {
    max-height: 1px;
    visibility: hidden;
    margin: 1em 5em 0em 3em;
    float: right;
    clear: right;
}

.postContent h2, h3 {
    line-height: 1;
}

.postFooter {
    width: 90%; 
}



.postFooterRightCell {
    text-align: right;
    width: 40%;
}

.article {
    width = 100%;

    
    background-color: white;
    padding: 1em;
    padding-left: 1em;
    font-size: 110%;
}

    
.addPostTable {
    line-height: 2;
    width: 100%;
}

.addPostTable td {
    width: 50%;
}


    

/* tablets */

@media (min-width: 700px)  {   
    
#main {
   width: 70%;
    top: 0;
    margin-left: 25%;
    font-size: 90%;
    position: absolute;
}
    
#left {

    position:fixed;
    background-color: #2987DD;
    top: 0px; 
    bottom: 0px;
    color: white;
    font-size: 120%;
    padding: 0em 1em 0em 1em;
    visibility: visible;
    left: 0px;
    width: 25%;
}
    
#mobileMenu {

    visibility: hidden;
}


.headerBigTags {
    font-size: 120%;
    display: inline;
}

#left h1 {
    font-size: 2em;
}

#left hr {
    width: 90%;
    text-align:left;margin-left:0
}



.post {
    width = 80%;
    position: relative;    
    margin: 1em 0em 0em 1em;
}   
    

.postContent:hover {
    background-color:aliceblue;
}

.post2 {
    width = 80%;
    position: relative;    
    margin: 1em 0em 0em 1em;
}

.postContent {
    width: 100%;
   
   
   
    background-color: white; 

    overflow: hidden;
}

    .postContentFull {
    width: 100%;
   
   
   
    background-color: white; 

    overflow: hidden;
}

.postContent img {
    max-width: 20%;
    max-height: 100%;
    float: right;
    margin: 1em 1em 0em 3em;
    visibility: visible;
       clear: right;

}
    
.postFooter {
    width: 70%;
    float: left;
}




}


/* for desktops */

@media (min-width: 900px)  {     


    #left {
        margin-left: 15%;
        width: 15%;
    }
    
    #main {
        margin-left: 30%;
         width: 55%;  

    }
    

}